<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Test Suite-1" >
    <test name="Test Case-1" group-by-instances="true">
        <classes>
<!--            <class name="Tests.LoginTest"/>-->
<!--            <class name="Tests.HoverAndClickSubcategoryTest"/>-->
            <class name="Tests.SearchTest"/>
        </classes>
    </test>
</suite>
